trigger:
  branches:
    include:
      - master
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  backendPath: 'backend'
  frontendPath: 'frontend-web'

stages:
  - stage: Build
    displayName: 'Build Backend and Frontend'
    jobs:
      - job: BuildBackend
        displayName: 'Build Backend'
        steps:
          - checkout: self
          - task: NodeTool@0
            inputs:
              versionSpec: '20.x'
          - script: |
              cd $(backendPath)
              npm ci
              npm run build
            displayName: 'Install and Build Backend'

      - job: BuildFrontend
        displayName: 'Build Frontend'
        steps:
          - checkout: self
          - task: NodeTool@0
            inputs:
              versionSpec: '20.x'
          - script: |
              cd $(frontendPath)
              npm ci
              npm run build
            displayName: 'Install and Build Frontend'

  - stage: Deploy
    displayName: 'Deploy Backend and Frontend'
    dependsOn: Build
    jobs:
      - deployment: DeployBackend
        displayName: 'Deploy Backend to Azure App Service'
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - task: AzureWebApp@1
                  inputs:
                    azureSubscription: '$(AZURE_SUBSCRIPTION_SERVICE_CONNECTION)'
                    appType: 'webApp'
                    appName: '$(AZURE_BACKEND_APP_NAME)'
                    package: '$(System.DefaultWorkingDirectory)/$(backendPath)'

      - deployment: DeployFrontend
        displayName: 'Deploy Frontend to Azure Static Web Apps'
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - task: AzureStaticWebApp@0
                  inputs:
                    app_location: '$(frontendPath)/frontend-web'
                    output_location: '$(frontendPath)/dist'
                    azure_static_web_apps_api_token: '$(AZURE_STATIC_WEB_APPS_API_TOKEN)'
